kiva_ds_csv
LenderPersonas2015Posters_FINAL.pdf
private
lender_dataset_fromMalissa
processed_data
.ipynb_checkpoints
*unclean*
*.csv
one_pager*
*.ppt
*.pptx
*.pyc
201808_Liyou_Zhang_updated_A4.pdf
__pycache__
.ipynb_checkpoints
archived
clustering
presentation